@import "tailwindcss" source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import "tw-animate-css";

@theme {
  --radius-card: 1rem;
  --radius-btn: 0.75rem;
  --radius-sheet: 1.5rem;
  --spacing-page: 1.25rem;
}
